
.card{
    background-color: #ffe1b9;
    padding: 0.5rem;
    color:black;
}

.card__image{
    width: 100%;
}

.card__body{
    padding: 1.5rem 0.5rem;
    
}

.card__title{
    font-size: 1.5rem;
}

.card__text{
    margin-top: .75rem;
    margin-bottom: 1rem;
    color: #505050;
}

.card__price{
    font-size: 2rem;
    font-weight: 500;
}

.card__actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card__btn{
    font-size: 1.12rem;
    background-color:#000000;
    padding: 1rem 2rem;
    color: white;

}