
.card{
    background-color: #ffe1b9;
    padding: 0.5rem;
    color:black;
}

.card__badge {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6347; /* Rojo para indicar oferta */
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 12px;
    border-bottom-right-radius: 8px;
    z-index: 1;
}

.card__image{
    width: 100%;
}

.card__body{
    padding: 1.5rem 0.5rem;
    
}

.card__title{
    font-size: 1.5rem;
}

.card__text{
    margin-top: .75rem;
    margin-bottom: 1rem;
    color: #505050;
}

.card__price--old {
    font-size: 1rem;
    color: #a0a0a0;
    text-decoration: line-through;
    margin-right: 10px;
}

.card__price{
    font-size: 2rem;
    font-weight: 500;
}

.card__actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card__btn{
    font-size: 1.12rem;
    background-color:#000000;
    padding: 1rem 2rem;
    color: white;

}